__pycache__/
.ipynb_checkpoints/
.vscode/
*-jvsc-*.ipynb
*.code-workspace
*.csr
*.egg-info/
*.key
*.lprof
*.pem
*.prof
*.pyc
*~
*venv*/
/.venv
/*env*.sh
/build/
/dist/
abacusnbody/metadata/abacussummit_headers.asdf
abacusnbody/version.py
issues/
slurm-*.out
