ci:
  autoupdate_schedule: monthly


exclude: |
  (?x)(
    ^scripts/disBatch/|
    ^scripts/\w*/bench\w*.py|
    ^tests/Mini_N64_L32/|
    \.asdf$|
    \.svg$
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.0"
    hooks:
      - id: ruff
        # TODO: turning off line length check
        # When ruff formatting is available, use that to auto-fix
        args: [--fix, --exit-non-zero-on-fix, --ignore=E501]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [json, binary]
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=20000']
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: debug-statements
