name: Tests

on:
  push:
  schedule:
    # Run weekly, Friday at 7:15 EST.
    - cron: '15 12 * * 5'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install numpy
        pip install 'Cython<3'  # for classy
        pip install -U .[test]
        make -C pipe_asdf
    - name: Test Python with pytest
      run: |
        # TODO: set up environment in tox
        export NUMBA_THREADING_LAYER=forksafe
        pytest -v
    - name: Test pipe_asdf
      run: |
        ./tests/test_pipe_asdf.sh

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install pre-commit
    - name: Lint with pre-commit
      run: |
        pre-commit run --all-files
